html,
body {
  /* overflow: hidden; */
}
.wrap {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  /* overflow: hidden; */
}
.header {
  width: 100vw;
  height: 60px;
}
.header img.chevron {
  position: relative;
  scale: 1.5;
  margin: 50px 30px;
  z-index: 1;
}
.header img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.main-video {
  position: absolute;
  top: 0;
  left: -70px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  opacity: 0.5;
}
.main {
  width: 100vw;
}

.title {
  position: relative;
  padding-top: 90px;
  padding-left: 100px;
  display: flex;
}
.title > p {
  position: relative;
  font-size: 5rem;
  font-weight: 700;
}
.title .sub {
  position: relative;
  top: 35px;
  left: 30px;
  font-size: 2rem;
  font-weight: 400;
}
.explain {
  position: relative;
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 20%;
}
.explain > p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 3;
}
.explain > p > a {
  color: #ff6f91;
}
.explain > p > a:hover {
  font-weight: 600;
}
.main > img.play {
  position: absolute;
  right: 250px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* 초기 위치 */
  }
  20% {
    transform: translateY(-30px); /* 위로 30px 이동 */
  }
  40% {
    transform: translateY(0); /* 원래 위치로 돌아옴 */
  }
  60% {
    transform: translateY(-15px); /* 약간 위로 이동 */
  }
  80% {
    transform: translateY(0); /* 원래 위치로 돌아옴 */
  }
  100% {
    transform: translateY(0); /* 원래 위치로 돌아옴 */
  }
}
.main > img.play:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease;
  cursor: pointer;
  animation: bounce 0s infinite;
}

.projectproposal {
  position: absolute;
  top: 0;
  left: 93%;
  width: 100vw;
  /* height: 100vh; */
  background: linear-gradient(
    to bottom,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  /* background-color: #fff; */
  opacity: 0.5;
  z-index: 2;
}
.projectproposal .titletypobg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.projectproposal > article {
  width: 100%;
  /* height: 40px; */
  /* display: flex; */
  /* padding-left: 500px; */
  /* padding-top: 100px; */
  /* padding-left: 50px; */
  transition: 2s;
}
/* .projectproposal > article > p {
  font-size: 2.4rem;
  font-weight: 500;
  padding-left: 15px;
}
.projectproposal > article .filmicon {
  width: 30px;
  height: 30px;
  margin-top: 5px;
} */
.projectproposal > article .close {
  position: absolute;
  top: 190px;
  right: 150px;
  width: 40px;
  height: 40px;
  opacity: 0.6;
  z-index: 3;
}
.projectproposal > article .close:hover {
  /* border: 1px solid #ff6f91;
  border-radius: 10px; */
  opacity: 1;
  transform: scale(1.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.art1 {
  display: flex;
  justify-content: center;
}
.art1 .projectimg {
  position: relative;
  /* width: 100%; */
  width: 1440px;
  height: 2048px;
  transition: 2s;
}
.projectproposal:hover {
  left: 91%;
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}
/* .projectproposal:hover .filmicon {
  opacity: 1;
} */
.projectproposal.active {
  left: 0;
  opacity: 1;
  transition: 2s;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 4;
}
#modal.active {
  display: block;
}
.modal-inner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.modal-inner > iframe {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
}
.modal-inner img {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
  opacity: 0.7;
}
.modal-inner img:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}
