.wrap {
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  background-color: #000;
}
.titledeco {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.5;
  z-index: 1;
}
.main {
  position: relative;
  width: 100vw;
  height: 56.25vw;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.header {
  position: relative;
  width: 100vw;
  height: 30%;
  display: flex;
  z-index: 9999;
}
.header > nav {
  position: absolute;
  width: 310px;
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 80px;
  z-index: 2;
}
.header > nav > button {
  z-index: 3;
}
.header > nav > button > a {
  color: #fff;
  z-index: 4;
}
.header > nav > button > a:hover {
  color: #ff6f91;
}
/* .menu {
  position: absolute;
  top: 75px;
  left: 70px;
}
.menu li {
  margin-bottom: 17px;
}
.menu li a {
  font-size: 23px;
  color: #ff6f91;
}
.menu li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ff6f91;
}
.menu li:hover a::after {
  width: 100%;
  transition: 1s;
} */

.title {
  width: 100vw;
}
.titletypo {
  position: absolute;
  left: 30%;
  top: -55px;
  width: 701px;
  height: 394px;
  animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0); /* 원래 위치 */
  }
  50% {
    transform: translateY(-20px); /* 위로 20px 이동 */
  }
  100% {
    transform: translateY(0); /* 다시 원래 위치로 돌아옴 */
  }
}
@keyframes floating2 {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-20px) translateX(5px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}
.titletypobg {
  position: relative;
  width: 100%;
}

.interview a {
  position: absolute;
  top: 40%;
  right: 80px;
  width: 500px;
  height: 200px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interview a:hover {
  color: #ff6f91;
  cursor: pointer;
  scale: 1.1;
  transition: 1s;
}
.interview a p {
  font-size: 5rem;
  font-weight: 700;
}

.aboutme {
  position: relative;
  display: flex;
  background: linear-gradient(
    to bottom,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  color: #000;
}
nav {
  position: relative;
  width: 310px;
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 80px;
  z-index: 2;
}
button {
  all: unset; /* 모든 기본 스타일을 제거 */
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  padding: 0; /* 여백 제거 */
  font: inherit; /* 상속된 폰트 사용 */
  cursor: pointer; /* 커서를 버튼 모양으로 */
  font-size: 4.2rem;
  font-weight: 700;
  color: #fff;
  width: 250px;
}
.b1 a {
  color: #fff;
}
.b2 a {
  color: #808080;
}
.b1 a:hover {
  color: #f9f871;
}
.b2 a:hover {
  color: #f9f871;
}

nav > img.bubble1 {
  position: absolute;
  top: -40px;
  left: -50px;
  width: 90px;
  opacity: 0.5;
  animation: floating2 10s ease-in-out infinite;
  z-index: 1;
}
nav > img.bubble2 {
  position: absolute;
  top: 60px;
  left: 150px;
  width: 70px;
  opacity: 0.5;
  animation: floating2 5s ease-in-out infinite;
  z-index: 1;
}

.aboutme .contents {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
  margin-left: 110px;
}
.aboutme .contents h2 {
  font-size: 5rem;
  font-weight: 100;
}
.aboutme .contents h2 > span {
  font-size: 5rem;
  font-weight: 100;
  color: #f9f871;
}

.contents-wrap {
  display: flex;
  width: 100vh;
  height: 100vh;
  margin-top: 130px;
}
.contents-wrap .c1 {
  width: 400px;
}
.c1 img {
  width: 211px;
  height: 213px;
}
.c1 ul li {
  margin-top: 35px;
}
.c1 ul li.name p {
  font-size: 25px;
  font-weight: 600;
}
.c1 ul li.l1 p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
}
.c1 ul li.l2 {
  display: flex;
  gap: 25px;
}
.c1 ul li.l2 p {
  width: 300px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}
.c1 ul li.l2 p:first-child {
  width: 100px;
  font-size: 14px;
  font-weight: 700;
}
.c2c3 {
  position: relative;
  width: 100%;
}
.c2 {
  display: flex;
  width: 100%;
}
.c2 .lorem {
  width: 300px;
  font-size: 14px;
  font-weight: 100;
  line-height: 2.5;
  padding-top: 80px;
}
.c2 .project {
  width: 340px;
  margin-left: 150px;
}
.c2 .project span {
  font-weight: 700;
  margin-right: 10px;
}
.c2 .project p {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5;
}
.c2 .project p:first-child {
  font-size: 40px;
  font-weight: 700;
}
.c3 {
  width: 100vw;
  margin-top: 100px;
}
.c3 > p {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.c3 .skill {
  display: flex;
  width: 100%;
}
.c3 .skill span {
  color: #ff6f91;
  font-size: 15px;
}
.c3 .skill1 {
}
.c3 .skill1 p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.c3 .skill1 img {
  margin-right: 10px;
}
.c3 .skill2 {
  margin-left: 100px;
}
.c3 .skill2 p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.c3 .skill2 img {
  margin-right: 10px;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #000;
}
.section > nav .b1 a {
  color: #808080;
}
.section > nav .b2 a {
  color: #fff;
}
.section > nav > button a:hover {
  color: #ff6f91;
}
.section > nav {
  position: relative;
}
.article {
  position: relative;
  width: 100%;
  height: 440px;
  opacity: 0.2;
}
.article .article-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.article > p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70px;
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.article .sub {
  position: absolute;
  left: 500px;
  top: 52%;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffffe1;
}
.article .subdetail {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 300;
  top: 250px;
  line-height: 2;
  opacity: 0;
}
.article ul {
  position: absolute;
  top: 260px;
  left: 75px;
  display: flex;
  gap: 12px;
}
.article ul li img {
  width: 24px;
  height: 24px;
  opacity: 0.8;
}
.article ul li.blender img {
  width: 21px;
  height: 21px;
  opacity: 0.7;
}
.article:hover {
  opacity: 1;
  transition: 1s;
}
.article:hover > p {
  top: 105px;
  transition: 1s;
}
.article:hover .sub {
  top: 115px;
  transition: 1s;
}
.article:hover .subdetail {
  top: 270px;
  opacity: 1;
  transition: 3s;
}
.article:hover ul {
  top: 145px;
  transition: 1s;
}
.goup {
  position: absolute;
  width: 60px;
  height: 100px;
  right: 100px;
  bottom: 150px;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.goup:hover {
  transform: scale(1.3) translateY(-30px);
  transition: 1s ease;
}

/* 반응형웹 */
@media screen and (max-width: 1699px) {
  .aboutme {
    display: block;
  }
  nav {
    width: 100%;
    padding-top: 80px;
  }
  nav .bubble1 {
    padding-top: 55px;
  }
  nav .bubble2 {
    padding-top: 45px;
    margin-left: 290px;
  }
  button {
    margin-right: 20px;
  }
  .aboutme .contents {
    margin-left: 170px;
  }

  .section > nav {
    margin-top: 0;
  }
}

@media screen and (max-width: 1399px) {
  .titletypo {
    width: 584px;
    height: 328px;
  }
  .aboutme {
    display: block;
    padding-bottom: 60px;
  }
  .interview a p {
    font-size: 4.5rem;
  }
  nav {
    width: 100%;
    padding-top: 80px;
  }
  nav .bubble1 {
    padding-top: 55px;
  }
  nav .bubble2 {
    padding-top: 45px;
    margin-left: 250px;
  }
  button {
    margin-right: 0px;
    font-size: 3.8rem;
  }
  .aboutme .contents {
    margin-left: 130px;
  }
  .contents-wrap {
    margin-top: 100px;
  }
  .aboutme .contents h2 {
    font-size: 4.5rem;
  }
  .aboutme .contents h2 > span {
    font-size: 4.5rem;
    font-weight: 300;
  }
  .c2 .project p:first-child {
    font-size: 35px;
    font-weight: 600;
  }
  .c3 > p {
    font-size: 35px;
    font-weight: 600;
  }
  .section > nav {
    margin-top: 0;
  }
}

@media screen and (max-width: 1353px) {
  .titletypo {
    width: 584px;
    height: 328px;
  }
  .aboutme {
    display: block;
  }
  .interview a {
    right: 0px;
  }
  .interview a p {
    font-size: 4rem;
  }
  nav {
    width: 100%;
    padding-top: 0px;
    margin-bottom: 50px;
  }
  nav .bubble1 {
    padding-top: 0px;
  }
  nav .bubble2 {
    padding-top: 0px;
    margin-left: 250px;
  }
  button {
    margin-right: 0px;
    font-size: 3rem;
    width: 200px;
  }
  button a {
    width: 200px;
  }
  .aboutme {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .aboutme .contents {
    margin-left: 130px;
  }
  .contents-wrap {
    margin-top: 100px;
  }
  .aboutme .contents h2 {
    font-size: 4rem;
  }
  .aboutme .contents h2 > span {
    font-size: 4rem;
    font-weight: 300;
  }
  .contents-wrap .c1 {
    width: 320px;
  }
  .c1 ul li.name p {
    font-size: 20px;
    font-weight: 600;
  }
  .c1 ul li.l1 p {
    font-size: 14px;
  }
  .c2 .project p:first-child {
    font-size: 32px;
    font-weight: 600;
  }
  .c3 > p {
    font-size: 32px;
    font-weight: 600;
  }
  .c3 .skill1 img {
    margin-right: 7px;
    height: 40px;
  }
  .c3 .skill2 img {
    margin-right: 7px;
    height: 40px;
  }
  .section > nav {
    margin-top: 0;
  }
  .article > p {
    font-size: 4rem;
  }
  .article .sub {
    left: 450px;
    font-size: 1.8rem;
  }
}
@media screen and (max-height: 855px) {
  .contents-wrap {
    margin-top: 60px;
  }
}
